{% extends "layout/main.twig" %}

{% block main %}
    <form class="form-inline" id="address_search">
        <div class="form-group">
            <label for="address">Search here for your address</label>
            <input type="text" class="form-control" name="address" id="address" />
        </div>
        <button class="btn btn-default" type="submit">Search</button>
    </form>
    <div id="results"></div>
    <hr />
    {% for field, errormessages in errors %}
        {% for message in errormessages %}
            <strong style="color:red;">{{ message }}</strong>
        {% endfor %}
    {% endfor %}
    <form method="post" action="/manage/edit/{{ id }}">
        <fieldset title="Your location">
            <div class="form-group">
                <label for="lat">Latitude</label>
                <input type="text" class="form-control" name="lat" id="lat" value="{{ energy.lat }}" />
            </div>
            <div class="form-group">
                <label for="lon">Longitude</label>
                <input type="text" class="form-control" name="lon" id="lon" value="{{ energy.lon }}" />
            </div>
        </fieldset>
        <div class="form-group">
            <label for="name">Your name / nickname</label>
            <input type="text" class="form-control" name="name" id="name" value="{{ energy.name }}" />
        </div>
        <div class="form-group">
            <label for="message">Your message</label>
            <textarea name="message" class="form-control" id="message" rows="6">{{ energy.message }}</textarea>
        </div>
        <div class="form-group">
            <label for="line_color">Line color</label>
            <select name="line_color" class="form-control" id="line_color">
                <option name="AliceBlue"  {% if energy.line_color == "AliceBlue" %}selected="selected"{% endif %}>AliceBlue</option>
                <option name="AntiqueWhite"  {% if energy.line_color == "AntiqueWhite" %}selected="selected"{% endif %}>AntiqueWhite</option>
                <option name="Aqua"  {% if energy.line_color == "Aqua" %}selected="selected"{% endif %}>Aqua</option>
                <option name="Aquamarine"  {% if energy.line_color == "Aquamarine" %}selected="selected"{% endif %}>Aquamarine</option>
                <option name="Azure"  {% if energy.line_color == "Azure" %}selected="selected"{% endif %}>Azure</option>
                <option name="Beige"  {% if energy.line_color == "Beige" %}selected="selected"{% endif %}>Beige</option>
                <option name="Bisque"  {% if energy.line_color == "Bisque" %}selected="selected"{% endif %}>Bisque</option>
                <option name="Black"  {% if energy.line_color == "Black" %}selected="selected"{% endif %}>Black</option>
                <option name="BlanchedAlmond"  {% if energy.line_color == "BlanchedAlmond" %}selected="selected"{% endif %}>BlanchedAlmond</option>
                <option name="Blue"  {% if energy.line_color == "Blue" %}selected="selected"{% endif %}>Blue</option>
                <option name="BlueViolet"  {% if energy.line_color == "BlueViolet" %}selected="selected"{% endif %}>BlueViolet</option>
                <option name="Brown"  {% if energy.line_color == "Brown" %}selected="selected"{% endif %}>Brown</option>
                <option name="BurlyWood"  {% if energy.line_color == "BurlyWood" %}selected="selected"{% endif %}>BurlyWood</option>
                <option name="CadetBlue"  {% if energy.line_color == "CadetBlue" %}selected="selected"{% endif %}>CadetBlue</option>
                <option name="Chartreuse"  {% if energy.line_color == "Chartreuse" %}selected="selected"{% endif %}>Chartreuse</option>
                <option name="Chocolate"  {% if energy.line_color == "Chocolate" %}selected="selected"{% endif %}>Chocolate</option>
                <option name="Coral"  {% if energy.line_color == "Coral" %}selected="selected"{% endif %}>Coral</option>
                <option name="CornflowerBlue"  {% if energy.line_color == "CornflowerBlue" %}selected="selected"{% endif %}>CornflowerBlue</option>
                <option name="Cornsilk"  {% if energy.line_color == "Cornsilk" %}selected="selected"{% endif %}>Cornsilk</option>
                <option name="Crimson"  {% if energy.line_color == "Crimson" %}selected="selected"{% endif %}>Crimson</option>
                <option name="Cyan"  {% if energy.line_color == "Cyan" %}selected="selected"{% endif %}>Cyan</option>
                <option name="DarkBlue"  {% if energy.line_color == "DarkBlue" %}selected="selected"{% endif %}>DarkBlue</option>
                <option name="DarkCyan"  {% if energy.line_color == "DarkCyan" %}selected="selected"{% endif %}>DarkCyan</option>
                <option name="DarkGoldenrod"  {% if energy.line_color == "DarkGoldenrod" %}selected="selected"{% endif %}>DarkGoldenrod</option>
                <option name="DarkGray"  {% if energy.line_color == "DarkGray" %}selected="selected"{% endif %}>DarkGray</option>
                <option name="DarkGreen"  {% if energy.line_color == "DarkGreen" %}selected="selected"{% endif %}>DarkGreen</option>
                <option name="DarkKhaki"  {% if energy.line_color == "DarkKhaki" %}selected="selected"{% endif %}>DarkKhaki</option>
                <option name="DarkMagenta"  {% if energy.line_color == "DarkMagenta" %}selected="selected"{% endif %}>DarkMagenta</option>
                <option name="DarkOliveGreen"  {% if energy.line_color == "DarkOliveGreen" %}selected="selected"{% endif %}>DarkOliveGreen</option>
                <option name="DarkOrange"  {% if energy.line_color == "DarkOrange" %}selected="selected"{% endif %}>DarkOrange</option>
                <option name="DarkOrchid"  {% if energy.line_color == "DarkOrchid" %}selected="selected"{% endif %}>DarkOrchid</option>
                <option name="DarkRed"  {% if energy.line_color == "DarkRed" %}selected="selected"{% endif %}>DarkRed</option>
                <option name="DarkSalmon"  {% if energy.line_color == "DarkSalmon" %}selected="selected"{% endif %}>DarkSalmon</option>
                <option name="DarkSeaGreen"  {% if energy.line_color == "DarkSeaGreen" %}selected="selected"{% endif %}>DarkSeaGreen</option>
                <option name="DarkSlateBlue"  {% if energy.line_color == "DarkSlateBlue" %}selected="selected"{% endif %}>DarkSlateBlue</option>
                <option name="DarkSlateGray"  {% if energy.line_color == "DarkSlateGray" %}selected="selected"{% endif %}>DarkSlateGray</option>
                <option name="DarkTurquoise"  {% if energy.line_color == "DarkTurquoise" %}selected="selected"{% endif %}>DarkTurquoise</option>
                <option name="DarkViolet"  {% if energy.line_color == "DarkViolet" %}selected="selected"{% endif %}>DarkViolet</option>
                <option name="DeepPink"  {% if energy.line_color == "DeepPink" %}selected="selected"{% endif %}>DeepPink</option>
                <option name="DeepSkyBlue"  {% if energy.line_color == "DeepSkyBlue" %}selected="selected"{% endif %}>DeepSkyBlue</option>
                <option name="DimGray"  {% if energy.line_color == "DimGray" %}selected="selected"{% endif %}>DimGray</option>
                <option name="DodgerBlue"  {% if energy.line_color == "DodgerBlue" %}selected="selected"{% endif %}>DodgerBlue</option>
                <option name="FireBrick"  {% if energy.line_color == "FireBrick" %}selected="selected"{% endif %}>FireBrick</option>
                <option name="FloralWhite"  {% if energy.line_color == "FloralWhite" %}selected="selected"{% endif %}>FloralWhite</option>
                <option name="ForestGreen"  {% if energy.line_color == "ForestGreen" %}selected="selected"{% endif %}>ForestGreen</option>
                <option name="Fuchsia"  {% if energy.line_color == "Fuchsia" %}selected="selected"{% endif %}>Fuchsia</option>
                <option name="Gainsboro"  {% if energy.line_color == "Gainsboro" %}selected="selected"{% endif %}>Gainsboro</option>
                <option name="GhostWhite"  {% if energy.line_color == "GhostWhite" %}selected="selected"{% endif %}>GhostWhite</option>
                <option name="Gold"  {% if energy.line_color == "Gold" %}selected="selected"{% endif %}>Gold</option>
                <option name="Goldenrod"  {% if energy.line_color == "Goldenrod" %}selected="selected"{% endif %}>Goldenrod</option>
                <option name="Gray"  {% if energy.line_color == "Gray" %}selected="selected"{% endif %}>Gray</option>
                <option name="Green"  {% if energy.line_color == "Green" %}selected="selected"{% endif %}>Green</option>
                <option name="GreenYellow"  {% if energy.line_color == "GreenYellow" %}selected="selected"{% endif %}>GreenYellow</option>
                <option name="Honeydew"  {% if energy.line_color == "Honeydew" %}selected="selected"{% endif %}>Honeydew</option>
                <option name="HotPink"  {% if energy.line_color == "HotPink" %}selected="selected"{% endif %}>HotPink</option>
                <option name="IndianRed"  {% if energy.line_color == "IndianRed" %}selected="selected"{% endif %}>IndianRed</option>
                <option name="Indigo"  {% if energy.line_color == "Indigo" %}selected="selected"{% endif %}>Indigo</option>
                <option name="Ivory"  {% if energy.line_color == "Ivory" %}selected="selected"{% endif %}>Ivory</option>
                <option name="Khaki"  {% if energy.line_color == "Khaki" %}selected="selected"{% endif %}>Khaki</option>
                <option name="Lavender"  {% if energy.line_color == "Lavender" %}selected="selected"{% endif %}>Lavender</option>
                <option name="LavenderBlush"  {% if energy.line_color == "LavenderBlush" %}selected="selected"{% endif %}>LavenderBlush</option>
                <option name="LawnGreen"  {% if energy.line_color == "LawnGreen" %}selected="selected"{% endif %}>LawnGreen</option>
                <option name="LemonChiffon"  {% if energy.line_color == "LemonChiffon" %}selected="selected"{% endif %}>LemonChiffon</option>
                <option name="LightBlue"  {% if energy.line_color == "LightBlue" %}selected="selected"{% endif %}>LightBlue</option>
                <option name="LightCoral"  {% if energy.line_color == "LightCoral" %}selected="selected"{% endif %}>LightCoral</option>
                <option name="LightCyan"  {% if energy.line_color == "LightCyan" %}selected="selected"{% endif %}>LightCyan</option>
                <option name="LightGoldenrodYellow"  {% if energy.line_color == "LightGoldenrodYellow" %}selected="selected"{% endif %}>LightGoldenrodYellow</option>
                <option name="LightGreen"  {% if energy.line_color == "LightGreen" %}selected="selected"{% endif %}>LightGreen</option>
                <option name="LightGrey"  {% if energy.line_color == "LightGrey" %}selected="selected"{% endif %}>LightGrey</option>
                <option name="LightPink"  {% if energy.line_color == "LightPink" %}selected="selected"{% endif %}>LightPink</option>
                <option name="LightSalmon"  {% if energy.line_color == "LightSalmon" %}selected="selected"{% endif %}>LightSalmon</option>
                <option name="LightSeaGreen"  {% if energy.line_color == "LightSeaGreen" %}selected="selected"{% endif %}>LightSeaGreen</option>
                <option name="LightSkyBlue"  {% if energy.line_color == "LightSkyBlue" %}selected="selected"{% endif %}>LightSkyBlue</option>
                <option name="LightSlateGray"  {% if energy.line_color == "LightSlateGray" %}selected="selected"{% endif %}>LightSlateGray</option>
                <option name="LightSteelBlue"  {% if energy.line_color == "LightSteelBlue" %}selected="selected"{% endif %}>LightSteelBlue</option>
                <option name="LightYellow"  {% if energy.line_color == "LightYellow" %}selected="selected"{% endif %}>LightYellow</option>
                <option name="Lime"  {% if energy.line_color == "Lime" %}selected="selected"{% endif %}>Lime</option>
                <option name="LimeGreen"  {% if energy.line_color == "LimeGreen" %}selected="selected"{% endif %}>LimeGreen</option>
                <option name="Linen"  {% if energy.line_color == "Linen" %}selected="selected"{% endif %}>Linen</option>
                <option name="Magenta"  {% if energy.line_color == "Magenta" %}selected="selected"{% endif %}>Magenta</option>
                <option name="Maroon"  {% if energy.line_color == "Maroon" %}selected="selected"{% endif %}>Maroon</option>
                <option name="MediumAquamarine"  {% if energy.line_color == "MediumAquamarine" %}selected="selected"{% endif %}>MediumAquamarine</option>
                <option name="MediumBlue"  {% if energy.line_color == "MediumBlue" %}selected="selected"{% endif %}>MediumBlue</option>
                <option name="MediumOrchid"  {% if energy.line_color == "MediumOrchid" %}selected="selected"{% endif %}>MediumOrchid</option>
                <option name="MediumPurple"  {% if energy.line_color == "MediumPurple" %}selected="selected"{% endif %}>MediumPurple</option>
                <option name="MediumSeaGreen"  {% if energy.line_color == "MediumSeaGreen" %}selected="selected"{% endif %}>MediumSeaGreen</option>
                <option name="MediumSlateBlue"  {% if energy.line_color == "MediumSlateBlue" %}selected="selected"{% endif %}>MediumSlateBlue</option>
                <option name="MediumSpringGreen"  {% if energy.line_color == "MediumSpringGreen" %}selected="selected"{% endif %}>MediumSpringGreen</option>
                <option name="MediumTurquoise"  {% if energy.line_color == "MediumTurquoise" %}selected="selected"{% endif %}>MediumTurquoise</option>
                <option name="MediumVioletRed"  {% if energy.line_color == "MediumVioletRed" %}selected="selected"{% endif %}>MediumVioletRed</option>
                <option name="MidnightBlue"  {% if energy.line_color == "MidnightBlue" %}selected="selected"{% endif %}>MidnightBlue</option>
                <option name="MintCream"  {% if energy.line_color == "MintCream" %}selected="selected"{% endif %}>MintCream</option>
                <option name="MistyRose"  {% if energy.line_color == "MistyRose" %}selected="selected"{% endif %}>MistyRose</option>
                <option name="Moccasin"  {% if energy.line_color == "Moccasin" %}selected="selected"{% endif %}>Moccasin</option>
                <option name="NavajoWhite"  {% if energy.line_color == "NavajoWhite" %}selected="selected"{% endif %}>NavajoWhite</option>
                <option name="Navy"  {% if energy.line_color == "Navy" %}selected="selected"{% endif %}>Navy</option>
                <option name="OldLace"  {% if energy.line_color == "OldLace" %}selected="selected"{% endif %}>OldLace</option>
                <option name="Olive"  {% if energy.line_color == "Olive" %}selected="selected"{% endif %}>Olive</option>
                <option name="OliveDrab"  {% if energy.line_color == "OliveDrab" %}selected="selected"{% endif %}>OliveDrab</option>
                <option name="Orange"  {% if energy.line_color == "Orange" %}selected="selected"{% endif %}>Orange</option>
                <option name="OrangeRed"  {% if energy.line_color == "OrangeRed" %}selected="selected"{% endif %}>OrangeRed</option>
                <option name="Orchid"  {% if energy.line_color == "Orchid" %}selected="selected"{% endif %}>Orchid</option>
                <option name="PaleGoldenrod"  {% if energy.line_color == "PaleGoldenrod" %}selected="selected"{% endif %}>PaleGoldenrod</option>
                <option name="PaleGreen"  {% if energy.line_color == "PaleGreen" %}selected="selected"{% endif %}>PaleGreen</option>
                <option name="PaleTurquoise"  {% if energy.line_color == "PaleTurquoise" %}selected="selected"{% endif %}>PaleTurquoise</option>
                <option name="PaleVioletRed"  {% if energy.line_color == "PaleVioletRed" %}selected="selected"{% endif %}>PaleVioletRed</option>
                <option name="PapayaWhip"  {% if energy.line_color == "PapayaWhip" %}selected="selected"{% endif %}>PapayaWhip</option>
                <option name="PeachPuff"  {% if energy.line_color == "PeachPuff" %}selected="selected"{% endif %}>PeachPuff</option>
                <option name="Peru"  {% if energy.line_color == "Peru" %}selected="selected"{% endif %}>Peru</option>
                <option name="Pink"  {% if energy.line_color == "Pink" %}selected="selected"{% endif %}>Pink</option>
                <option name="Plum"  {% if energy.line_color == "Plum" %}selected="selected"{% endif %}>Plum</option>
                <option name="PowderBlue"  {% if energy.line_color == "PowderBlue" %}selected="selected"{% endif %}>PowderBlue</option>
                <option name="Purple"  {% if energy.line_color == "Purple" %}selected="selected"{% endif %}>Purple</option>
                <option name="Red"  {% if energy.line_color == "Red" %}selected="selected"{% endif %}>Red</option>
                <option name="RosyBrown"  {% if energy.line_color == "RosyBrown" %}selected="selected"{% endif %}>RosyBrown</option>
                <option name="RoyalBlue"  {% if energy.line_color == "RoyalBlue" %}selected="selected"{% endif %}>RoyalBlue</option>
                <option name="SaddleBrown"  {% if energy.line_color == "SaddleBrown" %}selected="selected"{% endif %}>SaddleBrown</option>
                <option name="Salmon"  {% if energy.line_color == "Salmon" %}selected="selected"{% endif %}>Salmon</option>
                <option name="SandyBrown"  {% if energy.line_color == "SandyBrown" %}selected="selected"{% endif %}>SandyBrown</option>
                <option name="SeaGreen"  {% if energy.line_color == "SeaGreen" %}selected="selected"{% endif %}>SeaGreen</option>
                <option name="Seashell"  {% if energy.line_color == "Seashell" %}selected="selected"{% endif %}>Seashell</option>
                <option name="Sienna"  {% if energy.line_color == "Sienna" %}selected="selected"{% endif %}>Sienna</option>
                <option name="Silver"  {% if energy.line_color == "Silver" %}selected="selected"{% endif %}>Silver</option>
                <option name="SkyBlue"  {% if energy.line_color == "SkyBlue" %}selected="selected"{% endif %}>SkyBlue</option>
                <option name="SlateBlue"  {% if energy.line_color == "SlateBlue" %}selected="selected"{% endif %}>SlateBlue</option>
                <option name="SlateGray"  {% if energy.line_color == "SlateGray" %}selected="selected"{% endif %}>SlateGray</option>
                <option name="Snow"  {% if energy.line_color == "Snow" %}selected="selected"{% endif %}>Snow</option>
                <option name="SpringGreen"  {% if energy.line_color == "SpringGreen" %}selected="selected"{% endif %}>SpringGreen</option>
                <option name="SteelBlue"  {% if energy.line_color == "SteelBlue" %}selected="selected"{% endif %}>SteelBlue</option>
                <option name="Tan"  {% if energy.line_color == "Tan" %}selected="selected"{% endif %}>Tan</option>
                <option name="Teal"  {% if energy.line_color == "Teal" %}selected="selected"{% endif %}>Teal</option>
                <option name="Thistle"  {% if energy.line_color == "Thistle" %}selected="selected"{% endif %}>Thistle</option>
                <option name="Tomato"  {% if energy.line_color == "Tomato" %}selected="selected"{% endif %}>Tomato</option>
                <option name="Turquoise"  {% if energy.line_color == "Turquoise" %}selected="selected"{% endif %}>Turquoise</option>
                <option name="Violet"  {% if energy.line_color == "Violet" %}selected="selected"{% endif %}>Violet</option>
                <option name="Wheat"  {% if energy.line_color == "Wheat" %}selected="selected"{% endif %}>Wheat</option>
                <option name="White"  {% if energy.line_color == "White" %}selected="selected"{% endif %}>White</option>
                <option name="WhiteSmoke"  {% if energy.line_color == "WhiteSmoke" %}selected="selected"{% endif %}>WhiteSmoke</option>
                <option name="Yellow"  {% if energy.line_color == "Yellow" %}selected="selected"{% endif %}>Yellow</option>
                <option name="YellowGreen"  {% if energy.line_color == "YellowGreen" %}selected="selected"{% endif %}>YellowGreen</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" style="float: right">Update your energy!</button>
        </div>
    </form>
    <br /><br />
    <hr />
    <form method="post" action="/manage/delete/{{ id }}">
        <div class="form-group">
            <p class="text-danger">When you press the below button your entry will be removed from our database. We will not be able to restore it</p>
            <button type="submit" class="btn btn-danger" style="float: right">Delete your entry</button>
        </div>
    </form>

    <script type="text/javascript">
        $("#address_search").submit(function () {

            $.ajax({
                method: "POST",
                url: "/manage/api/address",
                data: { address: $('#address').val() }
            }).done(function( html ) {
                $( "#results" ).replaceWith( html );
            });

            return false;
        });
    </script>

{% endblock %}
